<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Management</title>
  </head>
  <body>
  <h2>Account Management Page</h2>
  
  <div>
	<form action="" method="post">
	<div>
            <label for="username">username</label><input name="username" id="username" />
          </div>
          <div>
            <label for="password">password</label><input name="password" id="password" />
          </div>
		  <div>
			  <input type="radio" name="account_type" value="admin"> Admin<br>
			  <input type="radio" name="account_type" value="user"> User<br>
          </div>
          <div>
            <input id="createAccount" type="submit" class="btn btn-small" value="Create Account">
          </div>
    </form>
  </div>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </body>
</html>

