<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
  <h2>Admin Home Page</h2>
  
  <div>
	<form action="" method="post">
		<div>Welcome {{name}}</div>
        <div><input id="logout" name="logout" type="submit" class="btn btn-small" value="Logout"></div>
    </form>
	<form action="" method="post">
        <div><input id="accountManagement" name="accountManagement" type="submit" class="btn btn-small" value="Account Management"></div>
    </form>
  </div>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
  </body>
</html>