body {
  margin-top: 75px;
}

#welcome {
  text-align: center;
  margin-bottom: 50px;
}

.userContent {
  margin-top: 25px;
}

.spacer {
  margin-top: 25px;
}

.spacer-bottom {
  margin-bottom: 25px; 
}

